*.o
*.lo
*.la
.libs

Makefile
Makefile.in

/ABOUT-NLS
/Doxyfile
/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/stamp-h.in
/stamp-h1

/macros
/platform
/rpmpopt
/rpmpopt-4.0.4
/rpmrc

/rpmdb/tagtbl.c

/rpm
/rpm.static
/rpm2cpio
/rpm2cpio.static
/rpmb
/rpmd
/rpmi
/rpmk
/rpmq

/CHANGES.bz2
/rpm.lang

/@RPMCONFIGDIR@

/tags

/po/Makefile.in.in
/po/POTFILES
/po/ru.gmo
/po/stamp-po

/scripts/*.req
/scripts/*.prov
/scripts/brp-adjust_libraries
/scripts/brp-alt
/scripts/brp-bytecompile_python
/scripts/brp-cleanup
/scripts/brp-compress
/scripts/brp-fix-perms
/scripts/brp-fixup
/scripts/brp-verify-info
/scripts/brp-verify_elf
/scripts/compress_files
/scripts/files.req.files
/scripts/find-lang
/scripts/find-package
/scripts/find-scriptlet-requires
/scripts/fixup-binconfig
/scripts/fixup-libtool
/scripts/fixup-pkgconfig
/scripts/ldd
/scripts/percolate
/scripts/posttrans-filetriggers
/scripts/rpmlib.req.files
/scripts/verify-elf

/tools/dump
/tools/dump_ld_config
/tools/dumpdb
/tools/filesize
/tools/javadeps
/tools/pdeath_execute
/tools/relative
/tools/rpmarchive
/tools/rpmevrcmp
/tools/rpmheader
/tools/rpmlead
/tools/rpmsignature
/tools/rpmvercmp

/autodeps/linux.prov
/autodeps/linux.req
/find-provides
/find-requires
